:root {
    --primarytext: #e67025;
    --secondarytext: rgb(94, 50, 0);
    --primarybackground: #4b4b4b;
    --secbackground: #993b00;
}

#wrapper {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    width: 1000px;
    margin: auto;
}

#page {
    justify-content: space-between;
}

#wall {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.error {
    color: red;
}

#activities {
    height: 50%;
    /* flex-direction: column; */
    /* background-color: var(--secbackground); */
    border: solid 3px var(--primarybackground);
}

button {
    border: springgreen;
}

#activities>* {
    padding: 10px;
}

#activities div {
    padding: 20px;
    flex-direction: column;
    /* background-color: var(--secbackground); */
}

table tr:nth-child(even) {
    background-color: var(--secondarytext);
}
