<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>The Wall Dilemma</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'wall/css/foundation.css' %}" />
        <link rel="stylesheet" href="{% static 'wall/css/style.css' %}">
    </head>
    <body>
        <div id="page">
            <a href="/logout" id="logging">Logout</a>
            <h1>Great Job Logging In!</h1>
            <h2>You've made it, {{logged_in_user.first_name}}!</h2>
            <ul>
                <li>Users can post messages</li>
                <li>Users can delete their own messages</li>
                <li>Users can delete their own comments</li>
                <li>Users can delete comments on their own messages</li>
            </ul>
            
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li
                    {%
                    if
                    message.tags
                    %}
                    class="{{ message.tags }}"
                    {%
                    endif
                    %}
                >
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            <form id='newmessage' action="newmessage" method="POST">
                {% csrf_token %}
                <label>
                    <textarea type="textarea" name="newmessagetext" rows="4" cols="50"></textarea>
                </label>
                <button type="submit">Post a Message</button>
            </form>
            <hr>
        </div>
        <div id="wall">
            {% for message in wallmessages %}
            <div class="wallmessage">
                <div class='messagehead'>
                    <h5>{{message.user_id.first_name}} {{message.user_id.last_name}}</h5>
                    <h5>{{message.created_at}}</h5>
                </div>
                <p>{{message.message}}</p>
                {% if logged_in_user.id == message.user_id.id %}
                    <a href="deletemessage/{{message.id}}">Delete Message</a>
                {% endif %}
                {% for comment in message.comments.all %} 
                    <div class="wallcomment">
                        <div class='messagehead'>
                            <h5>{{comment.user_id.first_name}} {{comment.user_id.last_name}}</h5>    
                            <h5>{{comment.updated_at}}</h5>
                        </div>
                        <p>{{comment.comment}}</p>
                        {% if logged_in_user.id == comment.user_id.id or logged_in_user.id == message.user_id.id %}
                            <a href="deletecomment/{{comment.id}}">Delete Comment</a>
                        {% endif %}
                    </div>
                {% endfor %}
                <form class = 'newcomment' action="/wall/newcomment/{{message.id}}" method="POST">
                    {% csrf_token %}
                    <label>
                        <textarea type="textarea" name="newcomment" rows="4" cols="50"></textarea>
                    </label>
                    <button type="submit">Post a Comment</button>
                </form>
            </div>
            <hr>
            {% endfor %}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>
